:root {
  --width: 100vw;
  --height: 100vh;
  --border: 5px solid #a68d72;
  --background-color: #f2dabf;
  --block-color: #a68d72;
  --div-color: #a68d72;
  --button-color: #6294a6;
  --box-shadow: 0 0 7px 5px white;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: var(--background-color);
  display: grid;
  justify-items: center;
  height: var(--height);
  margin: 0;
  min-width: 675px;
  position: relative;
  width: var(--width);
}

.container-main {
  width: 70vw;
  display: grid;
  gap: 10px;
}

header {
  align-items: center;
  background-color: var(--block-color);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  justify-items: center;
  padding: 20px;
}

header h1 {
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

footer {
  background-color: var(--block-color);
  border-radius: 5px;
  display: grid;
}

ul {
  align-content: space-between;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  list-style-type: none;
  padding: 0;
}

#canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gameCanvas {
  background-color: black;
  border-radius: 7.5px;
  display: grid;
}

.myDiv {
  align-items: center;
  background-color: var(--div-color);
  border: 3px solid #f2dabf;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  color: white;
  display: none;
  flex-direction: column;
  height: 300px;
  justify-content: space-evenly;
  left: calc(50% - 200px);
  padding: 10px;
  position: absolute;
  top: calc(50% - 150px);
  width: 400px;
}

* p {
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Candara";
  text-align: center;
}

#explanation {
  align-items: center;
  background-color: var(--block-color);
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  padding: 20px;
}

button {
  align-items: center;
  color: white;
  background-color: var(--button-color);
  border-radius: 5px;
  box-shadow: 4px 4px 5px 1px black;
  display: flex;
  font-family: "Candara";
  font-size: 1.3em;
  font-weight: bold;
  justify-content: center;
}

button:hover {
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

#photo {
  border-radius: 10px;
}
