*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: bisque;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  width: 100vw;
}

#gameCanvas {
  background-color: white /*#bea891*/;
  border: 1px solid black;
  margin: 10px;
}
