:root {
  --width: 100vw;
  --height: 100vh;
  --border: 5px solid #a68d72;
  --background-color: #fff1e3;
  --block-color: #a68d72;
  --div-color: #a68d72;
  --button-color: #6294a6;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: var(--background-color);
  display: grid;
  justify-items: center;
  height: var(--height);
  margin: 0;
  padding: 0;
  position: relative;
  width: var(--width);
}

.container-main {
  width: 70vw;
  display: grid;
  gap: 10px;
}

header {
  align-items: center;
  background-color: var(--block-color);
  /* border: var(--border); */
  border-radius: 5px;
  display: grid;
  grid-template-columns: 5fr 3fr;
  justify-items: center;
  padding: 20px;
}

header h1 {
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

footer {
  background-color: var(--block-color);
  /* border: var(--border); */
  border-radius: 5px;
  display: grid;
}

ul {
  align-content: space-between;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  list-style-type: none;
  padding: 0;
}

#gameCanvas {
  background-color: black;
  /* border: var(--border); */
  border-radius: 7.5px;
  display: grid;
}

.myDiv {
  align-items: center;
  background-color: var(--div-color);
  border: 3px solid #f2dabf;
  border-radius: 6px;
  box-shadow: 0 0 10px 10px white;
  color: white;
  display: none;
  flex-direction: column;
  height: 300px;
  justify-content: space-evenly;
  left: calc(50% - 200px);
  padding: 10px;
  position: absolute;
  top: calc(50% - 150px);
  width: 400px;
}

* p {
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Candara";
  text-align: center;
}

#explanation {
  align-items: center;
  background-color: var(--block-color);
  /* border: var(--border); */
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  padding: 20px;
}

button {
  align-items: center;
  color: white;
  background-color: var(--button-color);
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
  display: flex;
  font-family: "Candara";
  font-size: 1.3em;
  font-weight: bold;
  justify-content: center;
}

button:hover {
  box-shadow: 3px 3px 5px black;
  cursor: pointer;
}

@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
